<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.shef.oak.com6510">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:name="uk.ac.shef.oak.com6510.activities.TripTracker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDevProj">
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.GalleryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQ4ZDGyQlHdzmY28GwFEG_JxtPFQ59sAU" />
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.MapsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.ShowImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.EditImageActivity"
            android:exported="true" />
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.RoutesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.ShowRouteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <activity
            android:name="uk.ac.shef.oak.com6510.activities.EditRouteActivity"
            android:exported="true" />
        <service android:name="uk.ac.shef.oak.com6510.adaptors.MapService"
            android:exported="false"
            />
    </application>

</manifest>